<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head.ejs") %>
    <title>Create New ADM</title>
</head>

<body>

    <%- include("../../partials/admnavbar.ejs") %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Create ADM</h1>
            </div>

            <div class="card-body mt-3">
                <form action="/adm/save" method="post">
                    <label> New ADM </label>
                    <input type="text" name="nick" class="form-control mt-1" placeholder="ADM nick">
                    <label class="mt-3"> PASSWORD </label>
                    <input type="text" name="password" class="form-control mt-1" placeholder="ADM password">

                    <button class="btn btn-primary mt-2">Create</button>

                </form>
            </div>


        </div>
    </div>

















    <%- include("../../partials/script.ejs") %>
    <%- include("../../partials/admin.ejs") %>
</body>

</html>