<header>
    <nav class="navbar navbar-top navbar-dark navbar-expand-lg  mb-0 bg-danger">
        <a href="/" class="navbar-brand h1 mb-0">
            <figure id='logo'>
                <img src="/img/logonovo.png" class="img-fluid logotipo" alt="logo da chaotic reborn">
                <p>chaotic-rp</p>
            </figure>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSite">
            <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item">
                    <a href="/logout" class="nav-link ">Exit ADM PAINEL</a>
                </li>



                <li class="nav-item">
                    <a href="/adm/collection" class="nav-link ">ADM ACTIONS</a>
                </li>

            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="" class="nav-link" onclick="reloadEng()"> Englesh</a>
                </li>
                <li class="nav-item">
                    <a href="#pt" class="nav-link" onclick="reloadPt()">Portuguese</a>

                </li>
            </ul>

            <!--esperando backend para abilitar a pesquisa-->
            <form class="form-inline invisible">


                <input type="search" placeholder="busca" class="form-control  mr-2 ">
                <button type="submit" class="btn btn-dark"><i class="fa fa-search " aria-hidden="true"></i>

                </button>

            </form>
        </div>
    </nav>
</header>