<div class="container mt-5">
    <ul class="d-flex">
        <% category.forEach(category =>{ %>
        <li class="styleli-none fit-content">
            <a href="/categorias/<%= category.slug %>" class="btn btn-info"> <%= category.title %></a>
        </li>
        <% }) %>


    </ul>
</div>