<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head.ejs") %>
    <meta name="keywords" content="Chaotic,chaoticrp,Chaotic Reborn, all cards of Chaotic, Overview">
    <meta name="description" content="All cards, Deck Builder and more!">
    <title>Chaotic Reborn</title>
<script data-ad-client="ca-pub-7881299881636813" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<style>
    .container {
        background-color: #fefefe;
    }

    .indice {
        background-color: #f5f5f5;
        width: 30%;
        max-width: 200px;
    }

    .indice p {
        color: #6445e1;

    }

    .indice p:hover {
        color: #1e0f5b;
        background-color: #136EA8;
    }


    img {
        object-fit: cover;
    }
</style>

<body>
    <%- include("navbar.ejs") %>


    <div class="container">

        <div class="contentENG mt-5">
            <section class="intro text-center">
                <h1 class="display-3 mt-2">
                    Seja Bem Vindo a Chaotic Reborn!
                </h1>
                <p class="display-4 mt-5">
                    Sobre o Projeto
                </p>
                <div class="text-left">
                    <p class="mt-4">
                        O objetivo desse projeto é trazer parte da nostalgia da animação para o mundo real e introduzir
                        o
                        card game de forma simples.
                    </p>
                    <p>
                        O site é dividido em duas partes, a versão normal e a versão role play. Na versão normal você
                        pode
                        ver a coleção, analises e guias. Na versão role play, você precisa criar uma conta e fazer login
                        para ser "transportado" para Chaotic, em Chaotic você pode fazer scans,motar sua coleção e fazer
                        seus decks.
                    </p>
                    <p>Esse projeto vai ser durar 2 anos e recebera muito mais conteudo e utilidades nesse periodo.</p>
                </div>


            </section>


            <section class="guide-intro text-center">
                <hr class="mt-3">
                <h2 class="site-map mt-5 display-3">
                    Mapa do Site
                </h2>
                <div class="indice mt-4">
                    <p class="display-4"></p>
                    <ul>
                        <li id="indiceDeckBuilder_eng" class="mt-1">
                            <p>Deck Builder</p>
                        </li>
                        <li id="indiceLogin_eng" class="mt-1">
                            <p>Criando conta e login</p>
                        </li>
                        <li>
                            <p id="indiceCollection_eng" class="mt-1">Coleção e Analises</p>
                        </li>
                        <li>
                            <p id="indiceFeature_eng" class="mt-1">Esta por vir</p>
                        </li>
                    </ul>
                </div>
                <div id="DeckBuilder_eng" class="mt-5">
                    <h3 class="display-4">
                        Como Usar o Deck Builder
                    </h3>
                    <div class="text-left">
                        <p class="mt-4">
                            Provavelmente você esta aqui porque quer usar o Deck Builder, mas tem algo que você tem que
                            fazer primeiro pra poder acessar o Deck Builder.
                            Você precisa criar uma conta e fazer o login, muito facíl.
                        </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="Demo Chaotic Deck Builder">

                        <p class="mt-3">Tambem é nescessario fazer alguns scans em Perim para poder selecionar cards.
                        </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">
                            Agora com alguns scans podemos navegar por entre os scans que estão na sua coleção clicando
                            nos seletores.
                            Os seletores segum a mesma logica da animação onde: azul é criaturas, branco battlegear,
                            roxo mugic, verde location.
                        </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">Mas como eu adiciono cartas de atack? Simples, apenas clique em modo break
                            imersion para abrir um menu onde você pode adicionar ataques. também é possivel filtrar
                            criaturas e mugic por sua tribo aqui.</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">

                        <p class="mt-3">
                            Quando você chegar na carta que deseja adicionar no seu deck, você apenas precisa clicar no
                            local correspodente ao seu tipo.
                            Se você estiver no mobile, recomendo usar o site na horizontal ou vai ser realmente dificil
                            adicionar battlegear.</p>
                        <p> No futuro farei uma versão exclusiva para mobile, então vou ter
                            liberdade para mudar o designe da animação para algo mais funcional para mobile.
                        </p>
                        <img src="print marcando cada lugar e onde vai cada um com numeros" class="mt-2 w-100" alt="">
                        <p class="mt-3">1- Criatura</p>
                        <p>2- Battlegear</p>
                        <p>3- Mugic</p>
                        <p>4- Locais</p>
                        <p>5- Se você clicar no icone abre os seus locais para remover.</p>
                        <p>Ataques ficam em uma tela abaixo</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">Agora com o deck pronto você pode compartilhalo! No PC, você só tem o twitter,
                            onde vai abrir a pagina do seu twitter com o deck em formato de texto. Tambem vai vir com
                            #chaotic_deck e #chaotic, você pode apagar se quiser, mas seria muito legal se você não
                            fizesse isso, porque assim podemos ver quais decks as pessoas estão motando e quais cartas
                            são as mais usadas. No mobile, você pode pode compartilhar no twitter ou whatsapp. </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <img src="/img/BR.png" class="mt-1 w-100" alt="">
                    </div>

                </div>

                <div id="Login_eng" class="mt-5">
                    <h4 class="display-4">
                        Criando Conta e Login
                    </h4>
                    <div class="text-left mt-3">
                        <p>Criar uma conta é muito simples, você só precisa colocar um nickname e uma senha.</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">você não precisa de um email e não recomendo usar, vai ser muito mais divertido
                            você usar seu nicl em chaotic tipo kidchaor.</p>
                        <p>Se o nick estiver disponivel, você sera redirecionado para o login ou vai receber um alerta
                            para usar outro nickname. </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">

                    </div>
                </div>

                <div id="Collection_eng" class="mt-5">
                    <h5 class="display-4">
                        Coleção
                    </h5>
                    <div class="text-left mt-3">
                        <p>Na coleção atualmente é complicado navegar por ela, ainda não existem filtros para achar
                            cartas de um tipo, mas no futuro ireie adicionar um filtro completo.</p>
                        <p>Na coleção você pode clicar no nome de uma carta e ver uma analise dela.</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3"> Atualemnte essas analises são bem superficiais, mas se você possui experiencia
                            usando alguma carta em suas estrategias, não hesite em nos enviar.</p>
                        <p>Você tambem pode dar sua note pra cada carta uma vez.</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">Você tambem pode ver a nota media da comunidade.</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                    </div>
                </div>

                <div id="Feature_eng" class="mt-5">
                    <h6 class="display-4">
                        Esta Por Vir
                    </h6>
                    <div class="text-left mt-4">
                        <ol>
                            <li class="mt-1">
                                <p>Um tutorial simples e interativo para aprender a jogar Chaotic Card Game. Atualmente
                                    se você quiser aprender a jogar Chaotic, você vai ter que ler um livro de +20
                                    paginas. Não é muito amigavel para iniciantes...</p>
                            </li>
                            <li class="mt-1">
                                <p>
                                    Um Deck Builder totalmente compativel com mobile. O designe do battledrome é feito
                                    para
                                    se usar na horizontal, esse novo e exclusivo para mobile vai ser feito para se usar
                                    na
                                    vertical.
                                </p>
                            </li>

                        </ol>
                    </div>
                </div>

            </section>
        </div>

        <div class="translation mt-5">
            <section class="intro text-center">
                <h1 class="display-3 mt-2">
                    Seja Bem Vindo a Chaotic Reborn!
                </h1>
                <p class="display-4 mt-5">
                    Sobre o Projeto
                </p>
                <div class="text-left">
                    <p class="mt-4">
                        O objetivo desse projeto é trazer parte da nostalgia da animação para o mundo real e introduzir
                        o
                        card game de forma simples.
                    </p>
                    <p>
                        O site é dividido em duas partes, a versão normal e a versão role play. Na versão normal você
                        pode
                        ver a coleção, analises e guias. Na versão role play, você precisa criar uma conta e fazer login
                        para ser "transportado" para Chaotic, em Chaotic você pode fazer scans,motar sua coleção e fazer
                        seus decks.
                    </p>
                    <p>Esse projeto vai ser durar 2 anos e recebera muito mais conteudo e utilidades nesse periodo.</p>
                </div>


            </section>


            <section class="guide-intro text-center">
                <hr class="mt-3">
                <h2 class="site-map mt-5 display-3">
                    Mapa do Site
                </h2>
                <div class="indice mt-4">
                    <p class="display-4"></p>
                    <ul>
                        <li id="indiceDeckBuilder_pt" class="mt-1">
                            <p>Deck Builder</p>
                        </li>
                        <li id="indiceLogin_pt" class="mt-1">
                            <p>Criando conta e login</p>
                        </li>
                        <li>
                            <p id="indiceCollection_pt" class="mt-1">Coleção e Analises</p>
                        </li>
                        <li>
                            <p id="indiceFeature_pt" class="mt-1">Esta por vir</p>
                        </li>
                    </ul>
                </div>
                <div id="DeckBuilder_pt" class="mt-5">
                    <h3 class="display-4">
                        Como Usar o Deck Builder
                    </h3>
                    <div class="text-left">
                        <p class="mt-4">
                            Provavelmente você esta aqui porque quer usar o Deck Builder, mas tem algo que você tem que
                            fazer primeiro pra poder acessar o Deck Builder.
                            Você precisa criar uma conta e fazer o login, muito facíl.
                        </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="Demo Chaotic Deck Builder">

                        <p class="mt-3">Tambem é nescessario fazer alguns scans em Perim para poder selecionar cards.
                        </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">
                            Agora com alguns scans podemos navegar por entre os scans que estão na sua coleção clicando
                            nos seletores.
                            Os seletores segum a mesma logica da animação onde: azul é criaturas, branco battlegear,
                            roxo mugic, verde location.
                        </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">Mas como eu adiciono cartas de atack? Simples, apenas clique em modo break
                            imersion para abrir um menu onde você pode adicionar ataques. também é possivel filtrar
                            criaturas e mugic por sua tribo aqui.</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">

                        <p class="mt-3">
                            Quando você chegar na carta que deseja adicionar no seu deck, você apenas precisa clicar no
                            local correspodente ao seu tipo.
                            Se você estiver no mobile, recomendo usar o site na horizontal ou vai ser realmente dificil
                            adicionar battlegear.</p>
                        <p> No futuro farei uma versão exclusiva para mobile, então vou ter
                            liberdade para mudar o designe da animação para algo mais funcional para mobile.
                        </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">1- Criatura</p>
                        <p>2- Battlegear</p>
                        <p>3- Mugic</p>
                        <p>4- Locais</p>
                        <p>5- Se você clicar no icone abre os seus locais para remover.</p>
                        <p>Ataques ficam em uma tela abaixo</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">Agora com o deck pronto você pode compartilhalo! No PC, você só tem o twitter,
                            onde vai abrir a pagina do seu twitter com o deck em formato de texto. Tambem vai vir com
                            #chaotic_deck e #chaotic, você pode apagar se quiser, mas seria muito legal se você não
                            fizesse isso, porque assim podemos ver quais decks as pessoas estão motando e quais cartas
                            são as mais usadas. No mobile, você pode pode compartilhar no twitter ou whatsapp. </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <img src="/img/BR.png" class="mt-1 w-100" alt="">
                    </div>

                </div>

                <div id="Login_pt" class="mt-5">
                    <h4 class="display-4">
                        Criando Conta e Login
                    </h4>
                    <div class="text-left mt-3">
                        <p>Criar uma conta é muito simples, você só precisa colocar um nickname e uma senha.</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">você não precisa de um email e não recomendo usar, vai ser muito mais divertido
                            você usar seu nicl em chaotic tipo kidchaor.</p>
                        <p>Se o nick estiver disponivel, você sera redirecionado para o login ou vai receber um alerta
                            para usar outro nickname. </p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">

                    </div>
                </div>

                <div id="Collection_pt" class="mt-5">
                    <h5 class="display-4">
                        Coleção
                    </h5>
                    <div class="text-left mt-3">
                        <p>Na coleção atualmente é complicado navegar por ela, ainda não existem filtros para achar
                            cartas de um tipo, mas no futuro ireie adicionar um filtro completo.</p>
                        <p>Na coleção você pode clicar no nome de uma carta e ver uma analise dela.</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3"> Atualemnte essas analises são bem superficiais, mas se você possui experiencia
                            usando alguma carta em suas estrategias, não hesite em nos enviar.</p>
                        <p>Você tambem pode dar sua note pra cada carta uma vez.</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                        <p class="mt-3">Você tambem pode ver a nota media da comunidade.</p>
                        <img src="/img/BR.png" class="mt-2 w-100" alt="">
                    </div>
                </div>

                <div id="Feature_pt" class="mt-5">
                    <h6 class="display-4">
                        Esta Por Vir
                    </h6>
                    <div class="text-left mt-4">
                        <ol>
                            <li class="mt-1">
                                <p>Um tutorial simples e interativo para aprender a jogar Chaotic Card Game. Atualmente
                                    se você quiser aprender a jogar Chaotic, você vai ter que ler um livro de +20
                                    paginas. Não é muito amigavel para iniciantes...</p>
                            </li>
                            <li class="mt-1">
                                <p>
                                    Um Deck Builder totalmente compativel com mobile. O designe do battledrome é feito
                                    para
                                    se usar na horizontal, esse novo e exclusivo para mobile vai ser feito para se usar
                                    na
                                    vertical.
                                </p>
                            </li>

                        </ol>
                    </div>
                </div>

            </section>
        </div>



    </div>
    <div class="trash">
        <p>
            Desde seu lançamento, D&D dominou a indústria americana de RPG. Em 1977, o jogo foi dividido em duas
            versões: A mais simples, chamada Dungeons & Dragons, e a mais complexa, Advanced Dungeons & Dragons
            (Abreviada como AD&D). Em 1997, a TSR, Inc foi adquirida pela Wizards of the Coast[16] e 1999, a Wizards se
            tornou uma subsidiária da Hasbro.[17]

            Em 2000 a versão mais simples foi descontinuada, e a versão complexa foi renomeada como Dungeons & Dragons
            com o lançamento da 3ª Edição.

            Com o lançamento da 3ª edição de Dungeons & Dragons, Wizards of the Coast disponibilizou o sistema d20 sob a
            licença da Open Game License (OGL) e d20 System. Sob essas licenças, os autores foram livres para usar o
            sistema d20 ao escrever jogos e suplementos de jogos.[18][19] A OGL e o d20 tornaram possível novos jogos,
            alguns baseados em produtos licenciados como Star Wars[20] e novas versões de jogos mais antigos, como Call
            of Cthulhu.[21] Em Julho de 2003, é lançado o Dungeons & Dragons v3.5 (também conhecida como D&D 3.5).

            Durante a década de 2000, tem havido uma tendência para revitalizar e recriar edições antigas de D&D, num
            movimento conhecido como Old School Revival. Sistemas de RG baseados em edições anteriores de D&D. Castles &
            Crusades (2004), da Troll Lord Games, são reimaginações de edições antecipadas, simplificando as regras da
            OGL. Isso, por sua vez, inspirou a criação de "retroclones", jogos que recriam os conjuntos de regras
            originais, usando material colocado sob a OGL, além de aspectos mecânicos não protegidos por copyright das
            regras antigas para criar novos jogos.[22][23][24]

            A Wizards of the Coast lançou a 4ª edição, em Junho de 2008 nos Estados Unidos. Desde 2012 iniciou um grande
            playtest com jogadores do mundo todo, nesse sistema, batizado de D&D Next,[25] que contou com mais de
            175.000 pessoas em todo mundo e 18 meses de estudo,[26] foi a base para o novo sistema que oficialmente
            retornou com seu nome para D&D, chamado pelos jogadores como Quinta Edição. Tendo o livro do Jogador lançado
            primeiro em Julho, livro dos monstros em setembro e o livro do mestre em dezembro finalizando o lançamento
            do set básico ainda em 2014, fato curioso é que pela primeira vez o D&D conta com um módulo básico gratuito,
            batizado como Basic Rules ele contém regras completas para se jogar com as principais classes e raças e leva
            os jogadores do primeiro ao vigésimo nível, o Basic Rules pode ser baixado gratuitamente no site oficial e
            recebe atualizações constantes.[27]

            Com o lançamento da quarta edição, Wizards of the Coast apresenta a sua Game System License, que representou
            uma restrição significativa em comparação com as políticas muito abertas incorporadas pela OGL. Em parte,
            como uma resposta a isso, alguns editoras (como a Paizo Publishing com seu Pathfinder Roleplaying Game) que
            anteriormente produziram materiais em apoio à linha de produtos D&D, decidiram continuar a apoiar as regras
            da 3ª Edição, competindo diretamente com a Wizards of the Coast.[28] Outros, como a Kenzer & Company, estão
            retornando à prática de publicar suplementos sem licença e argumentando que a lei de direitos autorais não
            permite que a Wizards of the Coast restrinja o uso de terceiros.

            Em 12 de janeiro de 2016, a Wizards of the Coast lançou a SRD da 5ª edição sob a OGL original marcando um
            retorno ao formato open gaming.[29]

            No Brasil
            Ver artigo principal: Role-playing game no Brasil
            No Brasil, embora o primeiro RPG lançado no país tenha sido GURPS em 1991 pela Devir Livraria,[30] a
            primeira versão de Dungeons & Dragons já era conhecida pelos jogadores da chamada "geração xerox" — nome
            dado à primeira geração de jogadores que utilizam livros originais em inglês.[31] Além disso, a série
            animada homônima era exibida pela Rede Globo desde 1986 com o título de Caverna do Dragão.[32] Em 1989,
            chegava ao país uma versão portuguesa, publicada pela Sociedade Tipográfica S.A.[1][33]

            Em 1992, a fabricante de brinquedos Grow, lança Classic Dungeon e DragonQuest, dois jogos de tabuleiro com
            elementos de RPG da própria TSR, Inc.,[34] no ano seguinte, lança a versão original de Dungeons &
            Dragons.[35] A empresa também publicou um jogo de tabuleiro baseado em Caverna do Dragão, À Procura do
            Dungeonmaster (Quest for the Dungeonmaster) publicando originalmente pela TSR Inc em 1984, curiosamente, foi
            usado o nome original do Mestre dos Magos (Dungeon Master).[36]

            O Advanced Dungeons & Dragons (AD&D) foi lançado pela primeira vez em 1995 pela Abril Jovem, publicando o
            Livro do Mestre e o Livro dos Monstros",[37] a editora também publicou First Quest, o jogo de cartas
            colecionáveis Spellfire, a série de Livros-jogos "Você é o Herói" (Endless Quest no original).,[38] e uma
            versão brasileira da revista Dragon.[39] Quando a Devir Livraria adquiriu os direitos da Editora Abril,
            publicou uma segunda edição brasileira do Livro do Jogador em 1999.[40] A Devir Livraria retomou os
            lançamentos em 2001 com a publicação da 3ª Edição do jogo, agora renomeado para Dungeons & Dragons
            (D&D).[41]

            Em 2003, é lançado o site Dark Sun Brasil, o site é uma versão do fansite Athas.org, dedicado a Dark Sun, um
            cenário de campanha criado para a AD&D e que foi autorizado pela Wizards of the Coast.[42]

            Em 2004 a Devir publicou a edição 3.5.[43] A 4ª edição chegou traduzida ao mercado brasileiro em
            2009.[44][45]

            Em 2017, a 5ª Edição foi anunciada pela editora Fire on Board,[46] porém, após uma disputa entre editoras, a
            publicação foi suspensa.[47] No mesmo ano, a Jambô anuncia o lançamento de romances de Dungeons and
            Dragons.[48] Em dezembro de 2018, a Galápagos Jogos anunciou que publicará a 5ª Edição, com lançamento
            previsto para o dia 30 se setembro de 2019, chegando às lojas 15 dias depois.[49]

            Produtos relacionados
            O sucesso comercial do D&D trouxe muitos produtos relacionados, incluindo as revistas Dragon e Dungeon, a
            série animada Caverna do Dragão, cinco filmes e jogos de computador e games, como o MMORPG Dungeons &
            Dragons Online: Stormreach, Baldur's Gate, Menzoberranzan, Eye of the Beholder, Planescape: Torment, Demon
            Stone, Icewind Dale e Neverwinter Nights, diversos dados, miniaturas, aventuras e outros.

            Homenagens
            O jogo criou uma extensa legião de fãs,[50] o que se reconhece nas numerosas referências e homenagens à
            obra. Dentre estas o poema épico "Famagusta", obra de fantasia medieval,[51] na qual se encontram inúmeras
            alusões às criaturas e aos personagens do D&D, bem como narrativas de ações típicas das mesas de RPG.[52]

            Ver também
            Dungeon
            Referências
            Marcelo Cassaro (22 de maio de 2014). «#ArsenalDay - Não espere que os poderosos façam o seu trabalho».
            Jambô Editora. Arquivado do original em 5 de junho de 2014
            Baker, Richard; James Wyatt (2004). Player's Guide To Faerûn. Wizards of the Coast. ISBN 0-7869-3134-5.
            Grubb, Jeff, Cordell, BR; Noonan D. (2001). Manual dos Planos. Wizards of the Coast. pp 132-136. ISBN
            0-7869-1850-0.
            Baker, Richard; Wyatt J. (2004). Player's Guide To Faerûn. Wizards of the Coast. ISBN 0-7869-3134-5.
            Grubb, Jeff. Manual of the Planes (TSR, 1987).
            Grubb, Jeff. Manual of the Planes (TSR, 1987)
            McComb, Colin (1997). Faces of Evil: The Fiends. TSR Inc.. pp. 12 – 14.
            Baur, Wolfgang, and Gwendolyn F.M. Kestrel. Expedition to the Demonweb Pits. Renton, WA: Wizards of the
            Coast, 2007.
            Grubb, Jeff. Manual of the Planes (TSR, 1987).
            Shannon Appelcline, Traduzido e adaptado por Rafael Silva (17 de janeiro de 2014). «D&D 40 anos – A Origem
            (não tão) Secreta de D&D». RedeRPG
            Gabriel Swahili (6 de maio de 2003). «…Desvendamentos & Legados…». RedeRPG
            Gary Gygax
            Gygax; "The Dungeons and Dragons Magic System" in The Strategic Review, Vol. 2, No. 2
            Gary Gygax; Dungeon Masters Guide, 224 p. TSR, 1979 ISBN 0-935696-02-4
            DeVarque, Aardy R. «Literary Sources of D&D». Rec.games.frp.dnd FAQs
            Bill Slavicsek, tradução: Eduardo Carvalho (24 de junho de 2011). «Bill Slavicsek sai da Wizards!». RedeRPG
            «History». Hasbro. Arquivado do original em 10 de novembro de 2014
            O que é a Licenca D20? – História do RPG, parte II
            Wizards of the Coast; The d20 System
            Star Wars – Edge of Empire
            Call of Cthulhu D20 (resenha)
            Emanuele Manco (2013). Effemme 8. [S.l.]: Delos Digital srl. 85 páginas. 9788867750832
            Allen Varne (27 de agosto de 2009), "Retro-clones". The Escapist
            Shannon Appelcline, Designers & Dragons: The '00s, vol. 4, 2ª ed., Evil Hat Productions, 2014.
            Fabrizio Reis Guzzon (30 de maio de 2012). «D&D Next – Primeiras impressões do Playtest». RedeRPG
            David M. Ewalt (3 de março de 2014). «Did The Dungeons & Dragons Release Date Leak». Forbes
            Mike Mearls, Tradução: Rafael Gueiros (28 de julho de 2014). «D&D Next: Um pouco mais do D&D Basic Rules».
            RedeRPG
            Pathfinder Roleplaying Game – Livro Básico (resenha)
            "System Reference Document (SRD)"
            Marcelo Telles (22 de junho de 2010). «EXTRA: A verdade revelada: GURPS 4ª Edição em português!». RedeRPG
            Ana Alayde Saldanha e José Roniere Morais Batista. «A Concepção do Role-Playing Game (RPG) em Jogos
            Sistemáticos» (PDF). Universidade Federal da Paraíba/Scielo
            "Caverna do Dragão - A aventura favorita dos RPGistas completa 20 anos de exibição no Brasil". Dragon Slayer
            (9). Editora Escala.
            Talude (8 de agosto de 2005). «Primeira Aventura (resenha)». RedeRPG
            Roberto de Moraes. (1994). "Dungeons & Dragons" (em português). Dragão Brasil (19). São Paulo, Brasil: Trama
            Editorial.
            Visão , Edições 20-23. [S.l.: s.n.], 1993.
            «À Procura do Dungeon Master». BoardGameGeek
            Grahal. (1995). "Especial - Advanced Dungeons and Dragons" (em português). Dragão Brasil (8). São Paulo,
            Brasil: Trama Editorial.
            (1995) "Coleção Você é o herói" (em português). Dragão Brasil (10). São Paulo, Brasil: Trama Editorial.
            «Entrevista com Rogério Saladino». RedeRPG. 5 de maio de 2003
            (Outubro de 1999). "Nova Safra". Dragão Brasil (55). Editora Trama
            Wagner Luiz Schmit (25 de julho de 2008). «RPG e Educação: alguns apontamentos teóricos» (PDF). Universidade
            Estadual de Londrina
            «F.A.Q. - Projeto Dark Sun Brasil». Dark Sun Brasil. Arquivado do original em 29 de novembro de 2014
            Addison Araújo (16 de junho de 2012). «Roleplaying Game: uma aventura, um aprendizado» (PDF). Intercom
            «Rede RPG faz concurso de aventuras de D&D». Bigorna.net
            «Notícias do Bardo - OGL, GSL, SRD... PQP!». Editora Escala. Dragon Slayer (24). 2009
            Novo "Dungeons & Dragons" chega ao Brasil envolvido em disputa judicial
            Lançamento do D&D 5ª Edição em português é suspenso!
            Jambô lançará os romances de D&D
            É oficial D&D 5ª Edição em português pela Galápagos
            Catalog of Copyright Entries. Third Series: 1976: July-December: Index (em inglês). [S.l.]: Copyright
            Office, Library of Congress. 1 de janeiro de 1978
            Berington, Joseph (1 de janeiro de 1814). A Literary History of the Middle Ages: Comprehending an Account of
            the State of Learning from the Close of the Reign of Augustus, to Its Revival in the Fifteenth Century (em
            inglês). [S.l.]: J. Mawman
            «Role-playing game». Wikipédia, a enciclopédia livre. 19 de outubro de 2016
            Ligações externas
            Commons
            O Commons possui imagens e outros ficheiros sobre Dungeons & Dragons
            Sítio oficial (em inglês)
            TSR info archive (em inglês) um arquivo de lançamentos de Dungeons & Dragons
            3.5 D&D Archives (em inglês) Wizards of the Coast
            Wikia Dungeons & Dragons (em português)
        </p>
        <p>
            Visão geral
            Dungeons & Dragons (comumente abreviado como D&D ou DnD) é um jogo de interpretação (role-playing game, ou
            RPG) bem estruturado e cooperativo (normalmente não há vencedores), no qual, cada jogador controla,
            tipicamente, um único personagem. Durante o curso do jogo, cada jogador dirige as ações de seu personagem e
            suas interações com outros personagens. Uma partida geralmente dura varias sessões, que são chamadas de
            aventuras. Um conjunto de aventuras relacionadas entre si é chamada de campanha.

            Os resultados das escolhas do grupo e a história básica do jogo é determinada pelo Dungeon Master (DM),
            também chamado de mestre do jogo, ou masmorra, ou ainda como narrador, de acordo com as regras e com a
            interpretação do DM sobre essas regras. O DM escolhe e descreve os vários Personagens Não Jogadores (PNJs),
            que os personagens encontram, o cenário em que essas relações ocorrem, e os resultados desses encontros
            baseados nas escolhas e ações dos jogadores. As extensas regras do jogo, que cobrem áreas diversas como
            interações sociais, uso de magia, combate e o efeito do ambiente nos personagens, ajudam o mestre em suas
            decisões. O DM pode escolher quais regras publicadas ele vai usar e até mesmo criar regras novas (conhecidas
            como homebrews), se achar necessário.

            Desde o AD&D (Advanced Dungeons & Dragons, uma versão "avançadas" que existiu nos anos 1980-90), Dungeons &
            Dragons tem suas regras básicas divididas em três livros. Estes são o Livro do Jogador, o Livro do Mestre, e
            o Livro dos Monstros.

            Os únicos materiais necessários para jogar são os livros de regras, uma ficha de personagem para cada
            jogador e alguns dados poliédricos. A quarta edição assume o uso de miniaturas ou marcadores sobre uma
            superfície quadriculada, itens que eram opcionais nas edições passadas, e voltou a ser opcional na quinta
            edição. Muitos outros itens estão disponíveis para melhorar o jogo, alguns dos mais populares, embora
            opcionais sejam livros de expansão de regras, aventuras prontas e cenários de campanha.

            Jogabilidade

            Dados do Sistema d20 utilizados no Dungeons & Dragons
            Antes de o jogo começar, cada jogador cria o seu próprio personagem e marca seus detalhes em uma ficha de
            personagem.

            Primeiro, o jogador lança os dados para determinar as habilidades de seu personagem, que consistem de força,
            destreza, constituição, inteligência, sabedoria e carisma. Existem outros modos para determinar os atributos
            citados os quais encontram-se descritos nas regras do jogo. Entretanto, esta maneira é vista como a mais
            tradicional entre os entusiastas deste RPG. O jogador, então, escolhe uma raça (espécie), uma classe de
            personagem, um alinhamento (um código de ética e moral), e um número de perícias e talentos para melhorar e
            personalizar o personagem.

            Durante o jogo, os jogadores descrevem as ações de seu personagem, como conversar com outros personagens,
            lutar contra oponentes ou abrir uma fechadura, e o Dungeon Master descreve o resultado de suas ações. Ações
            triviais, como escrever uma carta ou abrir uma porta destrancada, geralmente são bem sucedidas
            automaticamente. Os resultados de ações mais complexas ou perigosas são determinadas pela rolagem de dados.
            As habilidades e perícias do personagem contribuem ao resultado dos dados, seja positiva ou negativamente.

            Conforme o andamento do jogo, cada personagem muda e melhora conforme ganham experiência. Os personagens
            ganham (ou algumas vezes perdem) experiência, perícias, dinheiro, e podem até mesmo mudar de alinhamento ou
            adicionar outras classes de personagem. A principal maneira de progredir é ganhando pontos de experiência
            (XP) quando derrotam um inimigo ou superam um obstáculo. Adquirindo XP suficiente, o personagem pode avançar
            um nível, o que garante mais habilidades e perícias.

            Os Pontos de Vida (HP) são uma medida da vitalidade e resistência a castigos físicos de um personagem e são
            determinados pela sua classe, raça, nível e constituição. Eles podem ser perdidos quando um personagem se
            fere em combate ou em alguma outra situação perigosa. A perda de HP é a forma mais comum de um personagem
            morrer em um jogo.

            Aventuras e campanhas
            Um jogo típico de Dungeons & Dragons consiste de uma aventura, que é o equivalente a uma história. Aventuras
            geralmente são criadas pelo Dungeon Master ou pode-se usar aventuras prontas, que são publicadas em forma de
            livros. Aventuras publicadas geralmente incluem uma história de fundo, mapas e objetivos para os personagens
            alcançarem.

            Uma série de aventuras, é chamada de "campanha". Os lugares onde essas aventuras ocorrem, como uma cidade,
            país, planeta, ou até mesmo um universo inteiro também são mais comumente referidos como "mundo" ou "cenário
            de campanha". Esses cenários são baseados em vários subgêneros de fantasia; Atualmente a Wizards of the
            Coast publica três desses cenários: Greyhawk, Forgotten Realms e Eberron. Os mais populares são Greyhawk,
            Dragonlance, Forgotten Realms, Mystara, Spelljammer, Ravenloft, Dark Sun, Planescape e Eberron. Os mestres e
            jogadores também podem desenvolver seus próprios mundos para usarem como cenários de campanha.

            Elementos
            Planos de existência
            No jogo há diversos planos de existência, elencados abaixo.

            Baator.
            Biotopia - é um conceito leal e neutro.[2]
            Monte Celestia - bom e leal.[3][4]
            Outlands - neutro à alma das pessoas, com um plano de existência alinhado.[5]
            Resíduos das Cinzas plano de existência forte e mal alinhado.[6]
            Terra das Bestas neutro e bem alinhado.[7]
            Ysgard - alinhado caoticamente, bondoso e neutro.[8][9]
        </p>
    </div>


    <%- include("footer.ejs") %>
    <%- include("script.ejs") %>

    <script>
        var indiceDeckBuilder_pt = document.getElementById("indiceDeckBuilder_pt");
        var indiceLogin_pt = document.getElementById("indiceLogin_pt");
        var indiceCollection_pt = document.getElementById("indiceCollection_pt");
        var indiceFeature_pt = document.getElementById("indiceFeature_pt");
        var indiceDeckBuilder_eng = document.getElementById("indiceDeckBuilder_eng");
        var indiceLogin_eng = document.getElementById("indiceLogin_eng");
        var indiceCollection_eng = document.getElementById("indiceCollection_eng");
        var indiceFeature_eng = document.getElementById("indiceFeature_eng");

        var DeckBuilder_pt = document.getElementById("DeckBuilder_pt");
        var Login_pt = document.getElementById("Login_pt");
        var Collection_pt = document.getElementById("Collection_pt");
        var Feature_pt = document.getElementById("Feature_pt");
        var DeckBuilder_eng = document.getElementById("DeckBuilder_eng");
        var Login_eng = document.getElementById("Login_eng");
        var Collection_eng = document.getElementById("Collection_eng");
        var Feature_eng = document.getElementById("Feature_eng");


        function autoScrollTo(domNode, targeted) {
            domNode.addEventListener("click", () => targeted.scrollIntoView())
        }

        autoScrollTo(indiceDeckBuilder_pt, DeckBuilder_pt)
        autoScrollTo(indiceLogin_pt, Login_pt)
        autoScrollTo(indiceCollection_pt, Collection_pt)
        autoScrollTo(indiceFeature_pt, Feature_pt)
        autoScrollTo(indiceDeckBuilder_eng, DeckBuilder_eng)
        autoScrollTo(indiceLogin_eng, Login_eng)
        autoScrollTo(indiceCollection_eng, Collection_eng)
        autoScrollTo(indiceFeature_eng, Feature_eng)
    </script>
</body>

</html>
