<header>
    <nav class="navbar navbar-top navbar-dark navbar-expand-lg  mb-0 bg-danger">
        <a href="/perim/scan/0" class="navbar-brand h1 mb-0">
            <figure id='logo'>
                <img src="/img/logonovo.png" class="img-fluid logotipo" alt="logo da chaotic reborn">
                <p>chaotic-rp</p>
            </figure>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSite">
            <ul class="navbar-nav mr-auto ml-auto">



                <li class="nav-item ">
                    <a href="/perim/scan/0" class="nav-link ">GO TO PERIM</a>
                </li>
                <li class="nav-item ">
                    <a href="/deckbuilder" class="nav-link ">BATTLE DROME</a>
                </li>
                <li class="nav-item">
                    <a href="/scans-collection" class="nav-link"> SCANS</a>
                </li>

            </ul>

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>

                </li>
            </ul>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="" class="nav-link" onclick="reloadEng()"> <img src="/img/USA.png" class="flag-icons"
                            alt=""></a>
                </li>
                <li class="nav-item">
                    <a href="#pt" class="nav-link" onclick="reloadPt()"><img src="/img/BR.png" class="flag-icons"
                            alt=""></a>

                </li>
            </ul>




            <!--esperando backend para abilitar a pesquisa-->

        </div>
    </nav>
</header>
