<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head.ejs") %>
    <title>ADM Painel ChaoticRP</title>
    <style>
        .card {
            width: 250px;
            max-width: 100%;
            border: 1px solid;

        }

        section {
            margin-left: 5%;

        }

        .container {
            flex-wrap: wrap;
        }

        .container section {
            width: 30%;
        }
    </style>
</head>

<body>
    <%- include("../../partials/admnavbar.ejs") %>







    <div class="container mt-auto mb-auto ">
        <section>
            <div class="card ml-auto mt-2  mr-auto">
                <div class="card-header">
                    <h5 class="card-title">Create News Cards</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/card/create">Create Now</a>
                </div>
            </div>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">

                    <h5 class="card-title">List of All Cards</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/card/list">Go To List Now</a>
                </div>
            </div>

        </section>
        <section>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">
                    <h5 class="card-title">Create News Cardtype</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/cardtype/create">Create Now</a>
                </div>
            </div>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">

                    <h5 class="card-title">List of All Cardtype</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/cardtypes">Go To List Now</a>
                </div>
            </div>
        </section>

        <section>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">
                    <h5 class="card-title">Create News Article</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/article/create">Create Now</a>
                </div>
            </div>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">

                    <h5 class="card-title">List of All Articles</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/article/list">Go To List Now</a>
                </div>
            </div>
        </section>
        <section>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">
                    <h5 class="card-title">Create News Categories</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/create/categories">Create Now</a>
                </div>
            </div>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">

                    <h5 class="card-title">List of All Categories</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/category/list">Go To List Now</a>
                </div>
            </div>
        </section>


        <section>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">
                    <h5 class="card-title">Create New Overview</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/overview/create">Create Now</a>
                </div>
            </div>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">

                    <h5 class="card-title">List of All Overview</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/overview/list">Go To List Now</a>
                </div>
            </div>
        </section>


        <section>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">
                    <h5 class="card-title">Create New ADM</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/create/adm">Create Now</a>
                </div>
            </div>
            <div class="card ml-auto mt-2 mr-auto">
                <div class="card-header">

                    <h5 class="card-title">List of All ADM</h5>
                </div>

                <div class="card-footer mt-1">
                    <a href="/adm/adm/list">Go To List Now</a>
                </div>
            </div>
        </section>
    </div>



    <%- include("../../partials/footer.ejs") %>














    <%- include("../../partials/script.ejs") %>
    <script>
        function aling() {
            let container = document.getElementsByClassName('container')[0];
            console.log(container)
            container.style.display = 'flex';
            container.style.justifyContent = 'center';
            container.style.alignItems = 'center';

            // container.style.flexDirection = 'column';

        }



        aling()
    </script>
</body>

</html>
