:root {
  --bg-body: #1e293b;
  --font-title: "Lora", serif;
  --font-body: "Roboto", sans-serif;
  --under: #fc0606;
  --over: #261cb4;
  --mipe: #bcc000;
  --danian: #5b3100;
  --br-1: 5px;
}
body {
  background-color: var(--bg-body);
  min-height: 100vh;
}
img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.navbar {
  background-color: #d20e0e;
  font-size: 1.3125rem;
  font-family: "Lora", serif;
}

.navcenter {
  margin-left: auto;
  margin-right: auto;
}

.nav-link:hover {
  color: #fff !important;
}

.row {
  margin-left: unset;
  margin-right: unset;
}

.container {
  max-width: 100%;
  width: 940px;
  height: 100%;
  min-width: 570px;
  margin: 20px auto;
}

.footer {
  background-color: #404d49;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0 0;
}

#battle {
  display: grid;
  grid: auto/ 1fr 1fr;
  gap: 10px;
  max-width: 100%;
  margin: auto;
}

.bg-location {
  position: relative;
  margin: auto;
}
.bg-location > img {
  width: 100%;
  filter: blur(2px);
}
#battle-arena {
  position: absolute;
  z-index: 1;
  animation: fadeIn 3s;
}
.creature {
  display: grid;
  grid: auto / 4fr 1fr;
  gap: 5px;
  margin: 2%;
}

#battle-creature-white .creature {
  grid: auto / 1fr 4fr;
}

.creature img {
  width: 100%;
  border: 4px solid #000;
  border-radius: 4px;
}
#battle-creature-white .creature img {
  border: 4px solid #fff;
}
.energy-bar-porcent,
.energy-bar-num {
  color: #fff;
  text-shadow: 1px 1px #000;
  position: absolute;
  z-index: 1;
  margin: unset;
  font-family: var(--font-title);
}

.energy-bar-porcent {
  top: 55%;
}

.energy-bar-num {
  top: 45%;
}
#battle-creature-black .energy-bar-atual {
  background-color: #000;
  height: 70%;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  z-index: 0;
  border-radius: 2px 2px 12% 12%;
}

#battle-creature-white .energy-bar-atual {
  background-color: #fff;
  height: 40%;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  z-index: 0;
  border-radius: 2px 2px 12% 12%;
}

.energy-bar {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #000;
  border-radius: 12%;
}
.stats ul {
  color: #fff;
  text-shadow: 1px 1px #000;
}

#battle-creature-white .stats ul,
#battle-creature-white .energy-bar-porcent,
#battle-creature-white .energy-bar-num {
  color: #000;
  text-shadow: 1px 1px #fff;
}

.stats ul,
.elements ul {
  padding-inline-start: 0;
  display: grid;
  grid: auto / repeat(4, 1fr);
  gap: 5px;
  list-style: none;
  margin: 0;
  align-content: center;
}
p {
  margin: 0;
}
.meta-dados {
  display: grid;
  grid: auto/ 2fr 2fr 1fr;
  gap: 5px;
  margin: 2%;
}

.mugic-counter {
  max-width: 80%;
  background-color: unset !important;
  position: relative;
  margin: auto;
}

.mc-tribe {
  position: absolute;
  margin: 0;
  line-height: 1;
  text-shadow: 1px 1px #fff;
  font-size: 2.4rem;
  font-family: var(--font-title);
}
.stats,
.elements,
.mugic-counter {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
  border-radius: 45px;
}

#battle-creature-white .stats,
#battle-creature-white .elements {
  background-color: rgba(255, 255, 255, 0.8);
}

.stats ul li {
  display: grid;
  grid: auto / 1fr;
}

.elements ul li {
  border-radius: 50%;
  background-color: var(--under);
}
.elements ul li img {
  opacity: 0.5;
}

.elements ul li.active img {
  opacity: 1;
}

#battle-log {
  background-color: #f2efef;
  color: #000000;
  font-family: var(--font-body);
  min-height: 120px;
  font-size: 1.75rem;
  text-align: center;
  display: flex;
  border-left: 1rem solid var(--under);
  border-right: 1rem solid var(--under);
  flex-direction: column;
}

#battle-log::after {
  content: "";
  width: 100%;
  background-color: #000;
  height: 0.5rem;
}
.log-text {
  margin: auto;
  padding: 5px;
}

.menus {
  display: grid;
  grid: auto/ 1fr 3fr 1fr;
  border-left: 1rem solid var(--under);
  border-right: 1rem solid var(--under);
  background: #f2efef;
}
.atk-menu,
.actions-menu,
.mugic-menu,
.mesa-menu {
  grid-column: 1/-1;
  display: grid;
  grid: auto / 1fr 1fr;
  justify-items: center;
  gap: 10px;
  margin: 10px 0;
  animation: fadeIn 1s;
}

.atk {
  position: relative;
  display: grid;
  grid: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  border: 4px solid red;
  cursor: pointer;
  justify-content: center;
  border-radius: var(--br-1);
}
.atk:hover .atk-title {
  color: #000;
  text-shadow: 1px 1px #fff;
  transition: all 0.4ms;
}
.atk:nth-child(odd),
.action:nth-child(odd),
.btn.mugic:nth-child(odd),
.btn.mesa:nth-child(odd) {
  margin-left: auto;
}

.atk:nth-child(even),
.action:nth-child(even),
.btn.mugic:nth-child(even),
.btn.mesa:nth-child(even) {
  margin-right: auto;
}
.atk img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  height: 100%;
}
.atk-title {
  grid-column: 1/-1;
  font-size: 2rem;
  text-transform: capitalize;
  justify-self: center;
}
.CD {
  grid-column: 3;
  grid-row: 3;
  font-size: 1.2rem;
  place-self: end;
  margin: 0;
  padding-right: 15%;
}
.atk-title,
.CD {
  position: absolute;
  z-index: 1;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px #000;
  font-family: var(--font-title);
}

.menus-bar {
  grid-row: 2;
  grid-column: 2/3;
  display: grid;
  grid: auto / 1fr 1fr 1fr;
  font-family: var(--font-title);
  gap: 1rem;
  margin: 10px 0;
  animation: fadeIn 1s;
}
.menus-bar-button {
  font-size: 1.5rem;
  color: #fff;
}

.menus-bar-button-active {
  display: none;
}

.btn-over {
  background-color: var(--over);
  border-color: var(--over);
}
.btn-under {
  background-color: var(--under);
  border-color: var(--under);
}
.btn-mipe {
  background-color: var(--mipe);
  border-color: var(--mipe);
}
.btn-danian {
  background-color: var(--danian);
  border-color: var(--danian);
}

.menu-desativado {
  display: none !important;
}

.action {
  color: #d9d9d9;
  font-size: 2rem;
  font-family: var(--font-title);
  max-width: 200px;
  width: 100%;
  max-height: 60px;
  height: 100%;
  border: 2px solid #000;
  text-transform: capitalize;
}

.action:nth-child(1) {
  background-color: var(--mipe);
}
.action:nth-child(2) {
  background-color: var(--danian);
}
.action:nth-child(3) {
  background-color: var(--over);
}
.action:nth-child(4) {
  background-color: var(--under);
}

.btn.mugic,
.btn.mesa {
  font-size: 1.5rem;
  font-family: var(--font-title);
  max-width: 200px;
  width: 100%;

  height: 100%;
  border: 2px solid #000;
  text-transform: capitalize;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 1px 1px #000;
  background-color: #808080;
  transition: color 0.15s;
}
.btn.mugic:hover {
  color: #212529;
  text-shadow: 1px 1px #f7f1f1;
}
.mugic.mipe,
.btn.mesa.mipe {
  background-color: var(--mipe);
}

.mugic.danian,
.btn.mesa.danian {
  background-color: var(--danian);
}

.mugic.over,
.btn.mesa.over {
  background-color: var(--over);
}

.mugic.under,
.btn.mesa.under {
  background-color: var(--under);
}

.btn.mesa {
  position: relative;
}

.btn.mesa[data-creatureboard]::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 12%;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  line-height: 2;
}

.btn.mesa[data-creatureboard]:nth-child(2)::before {
  content: "1";
}

.btn.mesa[data-creatureboard]:nth-child(4)::before {
  content: "2";
}

.btn.mesa[data-creatureboard]:nth-child(6)::before {
  content: "3";
}

.btn.mesa[data-creatureboard]:nth-child(1)::before {
  content: "4";
}

.btn.mesa[data-creatureboard]:nth-child(3)::before {
  content: "5";
}

.btn.mesa[data-creatureboard]:nth-child(5)::before {
  content: "6";
}

.menu-board {
  grid-row: 3;
  grid-column: 2/3;
  display: grid;
  grid: auto / 2fr 2fr 1fr;
  font-family: var(--font-title);
  gap: 1rem;
  margin: 10px 0;
  animation: fadeIn 1s;
}
.menus-bar-des {
  display: none !important;
}

.creature-board-menu {
  grid-column: 1/-1;
  display: grid;
  grid: auto / 1fr 2fr 4fr 1fr;
  align-items: center;
  justify-items: start;
  gap: 10px;
  margin: 10px 0;
  animation: fadeIn 1s;
}
.crature-board-img {
  width: 100%;
  height: 100%;
  grid-column: 2;
  border-radius: var(--br-1);
  border: 4px solid;
}
.section-atk-board {
  display: grid;
  grid: auto / 1fr 1fr;
  gap: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .navbar {
    font-size: 0.85rem;
  }

  .navcenter {
    margin-left: unset;
    margin-right: unset;
  }

  .container {
    max-width: 100%;
    width: 95vw;
  }

  #battle {
    max-width: 100%;
  }
  .creature img {
    max-width: 200px;
  }
  .energy-bar {
    max-height: 100%;
  }

  .energy-bar-porcent {
    font-size: 0.8rem;
  }

  .energy-bar-num {
    font-size: 1rem;
  }
  .energy-bar-num {
    top: 40%;
  }
  #battle {
    gap: 15px;
  }
  .mugic-counter {
    max-width: 100%;
  }
  .mc-tribe {
    font-size: 1.6rem;
  }

  .stats ul li,
  .elements ul li {
    width: fit-content;
  }

  .stats,
  .elements,
  .mugic-counter {
    border-radius: 16px;
  }

  #battle-log {
    min-height: 70px;
    font-size: 1.5rem;
  }
  .atk-menu {
    grid-column: 2/3;
  }
  .atk {
    justify-items: end;
  }
  .CD {
    font-size: 0.8rem;
  }
  .menus-bar-button,
  .btn.mugic,
  .atk-title {
    font-size: 1.2rem;
  }

  .creature-board-menu {
    grid: auto / 1fr 2fr;
    padding: 0 5px;
  }
  .crature-board-img {
    grid-column: 1;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {
}
