#content {
  display: none;
}

.fit-content {
  max-width: fit-content;
}
.logotipo {
  max-width: 60px;
  max-height: 60px;
  padding-top: 10px;
}

body {
  background-color: #f2f3f4;
  margin: 0 auto;
  height: 100vh;
}

.mb-10 {
  margin-bottom: 17%;
}

.siteCenter {
  max-width: 880px;
  margin: auto;
  background-color: #ffffff;
}

.siteCenter img {
  max-width: 100%;
}

/* carousel */
.carousel-indicators li {
  font-size: 0;
  border: 7px solid #ffffff;
  width: 13px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
}

.grid-texto p {
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  align-self: end;
}

.grid-texto h1 {
  color: #ffffff;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000;
  max-width: 30%;
  align-self: center;
}

/* news */
.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

.item a {
  text-decoration: none;
  display: grid;
}

.item a img {
  height: 470px;
  grid-column: 1;
  grid-row: 1/3;
  align-self: end;
  border-radius: 4%;
}

.item a h3 {
  grid-column: 1;
  grid-row: 2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 14px;
  color: white;
  margin-bottom: auto;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  line-height: 1.21em;
  font-weight: 400;
  border-radius: 5%;
}

.item {
  display: grid;
}

.news {
  text-transform: uppercase;
  font-size: 4rem;
  margin-left: 20px;
}

/* Decks */
.grid-decks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 0 auto;
  padding: 10px;
}

.decks h1::before,
.decks h1::after {
  content: "";
  border-top: 3px solid #6f6767;
  flex: 1 0 0px;
}

.decks h1 {
  display: flex;
  text-transform: uppercase;
  font-size: 4rem;
  width: 100%;
  align-items: center;
}

.ml-center {
  margin-left: 45%;
}

.ml-links {
  margin-left: 40%;
  text-transform: uppercase;
}

/* FOOTER*/
.footer {
  background-color: #121111;
  height: 30px;
  width: 100%;
}
.flag-icons {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.footer p {
  text-align: center;
  padding-top: 3px;
  margin: 0 auto;
  color: #ffffff;
}

.maxwidth {
  max-width: 60vw;
}

.p-center {
  max-width: 80vw;
  text-align: center;
}

.styleli-none {
  list-style: none;
  padding-left: 5px;
}
.t-center {
  text-align: center;
}
.container {
  min-height: 100vh;
}
#collection,
#scans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#collection > div,
#scans > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  overflow: auto;
  cursor: pointer;
}

#collection > div > img,
#scans > div > img {
  width: 190px;
  max-width: 100%;
}

#collection > div > button,
#scans > div > button {
  width: 100%;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: inherit;
  max-width: 95%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  display: none;
  max-width: 100%;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  font-size: 0.75rem;
  padding: 2px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*@medias*/
@media (max-width: 830px) {
  #collection,
  #scans {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-cards {
    grid-template-columns: 1fr;
  }

  .grid-decks {
    grid-template-columns: 1fr;
  }

  .container-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .item a img {
    height: 370px;
    width: 100%;
  }

  p {
    font-size: 1rem;
  }

  .mobal-img {
    max-width: 80vw;
  }

  header {
    max-width: 99vw;
  }

  .mobal {
    max-width: 98vw;
  }

  .siteCenter {
    max-width: 90vw;
  }
}

@media (max-width: 600px) {
  #collection,
  #scans {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-cards {
    grid-template-columns: 1fr;
  }

  .grid-decks {
    grid-template-columns: 1fr;
  }

  .item a img {
    height: 370px;
    width: 100%;
  }

  p {
    font-size: 1rem;
  }

  .mobal-img {
    max-width: 80vw;
  }

  header {
    max-width: 99vw;
  }

  .mobal {
    max-width: 98vw;
  }

  .siteCenter {
    max-width: 90vw;
  }
}
